* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorPrimario: #1F316F;
    --colorSecundario: #F9DBBA;
    --colorLetra: #5B99C2;
    --colorBoton: #1A4870;

    --letraTitulo: "New Amsterdam", sans-serif;
    --letraTituloPeso: 400;
    --letraTituloEstilo: normal;

    --letraTexto: "New Amsterdam", sans-serif;
    --letraTextoPeso: 400;
    --letraTextoEstilo: normal;
}

body {
    margin: 0;
    padding: 0;
    color: black; 
    font-family: var(--letraTexto);
    font-weight: var(--letraTextoPeso);
    font-style: var(--letraTextoEstilo);
    background-color: var(--colorSecundario);
}

.icons {
    height: 25px;
}

.header {
    background-color: var(--colorSecundario);
    font-family: var(--letraTitulo);
    font-weight: var(--letraTituloPeso);
    font-style: var(--letraTituloEstilo);
    padding: 15px;
    border: 2px solid;
    font-size: 1rem;
}

.main {
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    background-color: var(--colorPrimario);
    color: black; 
}

.mainSection {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    max-width: 1000px;
    font-family: var(--letraTexto);
    font-weight: var(--letraTextoPeso);
    font-style: var(--letraTextoEstilo);
    color: black; 
}

.mainSectionDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    align-items: flex-start;
    font-size: 1rem;
}

.mainSectionDivH {
    background-color: var(--colorLetra);
    padding: 15px;
    width: 100%;
    font-family: var(--letraTexto);
    font-weight: var(--letraTextoPeso);
    font-style: var(--letraTextoEstilo);
    font-size: 1rem;
    border: 2px solid ; 
    color: black; 
}

.containerInput {
    padding: 15px;
    width: 100%;
    height: 250px; 
    border: 2px solid; 
    border-top: none;
    border-bottom: none;
    text-decoration: none;
    box-shadow: none;
    outline: none;
    font-family: var(--letraTexto);
    font-weight: var(--letraTextoPeso);
    font-style: var(--letraTextoEstilo);
    font-size: 1rem;
    color: black; 
    overflow: auto; 
    box-sizing: border-box; 
    resize: vertical; 
}


.mainSectionDivP {
    background-color: var(--colorLetra);
    display: flex;
    justify-content: space-between;
    border: 2px solid ; 
    padding: 15px;
    width: 100%;
    align-items: center;
    font-family: var(--letraTexto);
    font-weight: var(--letraTextoPeso);
    font-style: var(--letraTextoEstilo);
    font-size: 1rem;
    color: black; 
}

.mainSectionDivB {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
    margin-left: auto;
    font-size: 1rem;
}

button {
    background-color: var(--colorBoton);
    color: var(--colorSecundario); 
    padding: 10px 20px; 
    border: 2px solid black; 
    border-radius: 5px; 
    font-family: var(--letraTexto); 
    font-weight: var(--letraTextoPeso); 
    font-style: var(--letraTextoEstilo); 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button:hover {
    background-color: var(--colorSecundario); 
    color: var(--colorBoton); 
}


.footer {
    color: black; 
    background-color: var(--colorSecundario);
    padding: 20px;
    text-align: center;
    font-family: var(--letraTitulo);
    font-weight: var(--letraTituloPeso);
    font-style: var(--letraTituloEstilo);
    font-size: 2rem;
    border: 2px solid;
}
